/run/
/pretrained/
/dadasets_/
/datasets_cumix/
/result/
/anoth/
/log/
/dadasets_/
/datasets_cumix/
/core/sync_batchnorm/
/core/model_bn2d_multi.py
/core/model_bn2d.py
/core/segformer_head_bn2d_multi.py
/core/segformer_head_bn2d.py
/core/segformer_head_multi.py
/core/model_multi.py
train_multi.py
*.log
dist_test_1.sh
dist_test_18.sh
dist_train_mix_syn.sh